.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    

    @media (min-width: $desktop-brekpiont) {
        margin-bottom: $l-size;
        flex-direction: row;
    }
}

.input-group__item {
    margin-right: $s-size;
    @media (min-width: $desktop-brekpiont) {
        margin: 0 $s-size 0 0;
    }
}